<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-chart></app-chart>  
<div id="chartdiv" style="width: 100%; height: 500px"></div>
<button (click)="getWall()">Getwall</button>
<ul *ngIf="courses$ | async as courses else noData">
          <li *ngFor="let course of courses">
              {{course.description}}
          </li>
      </ul>
      <ng-template #noData>No Data Available</ng-template>
